# --- 資料庫連線設定 (MySQL/MariaDB) ---
# 這是連線到老師提供的虛擬機資料庫
DB_HOST=dv108.aiturn.fun
DB_PORT=3306
DB_USER=個人username
DB_PASS=個人password
DB_NAME=db_job

# --- 雲端備援設定 (AWS S3) ---
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# --- 其他設定 (API 開發使用) ---
FLASK_ENV=development